{{#each this}}
<div class="card-img-top">
    <img src="{{flags.svg}}" alt="{{name.official}}"
    width="100px" height="70px"/>
</div>
<h1 class="title-card">{{name.official}}</h1>
<p class="text-card">Capital: {{capital}}</p>
<p class="text-card">Population: {{population}}</p>
<p class="text-card">Languages: 
    {{#each languages}}
     <span> {{this}} </span>
    {{/each}}
</p>
{{/each}}