{{#each this}}
<div class="card-img-top">
    <img src="{{flags.svg}}" alt="{{name.official}}"
    width="100px" height="70px"/>
</div>
<h1 class="title-card">{{name.official}}</h1>
<p class="text-card">Capital: <span class="text-card-name">{{capital}}</span></p>
<p class="text-card">Population: <span class="text-card-name">{{population}}</span></p>
<p class="text-card">Languages: 
    {{#each languages}}
     <span class="text-card-name"> {{this}} </span>
    {{/each}}
</p>
{{/each}}
